/*
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Antic&family=Nothing+You+Could+Do&family=Rozha+One&display=swap" rel="stylesheet">
*/

/* latin */
@font-face {
    font-family: 'Antic';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/antic/v12/TuGfUVB8XY5DRZZMq9kRystl.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /*latin */
@font-face {
    font-family: 'Nothing You Could Do';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/nothingyoucoulddo/v10/oY1B8fbBpaP5OX3DtrRYf_Q2BPB1SnfZb3OOnVsH2pmp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

    /*latin */
    @font-face {
        font-family: 'Rozha One';
        font-style: normal;
        font-weight: 400;
        src: url(https://fonts.gstatic.com/s/rozhaone/v8/AlZy_zVFtYP12Zncg2kRcn35fh4Dog.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      } */


  
/*gallery titles
font-family:"Nothing You Could Do", cursive;
font-size: 20px;
color: white;
letter-spacing: 0.08em;

Menu on white 13px bold dark charcoal rgba (0, 0, 0, 0.97)
Menu on black 12px bold white
letter spacing 0.06em
*/

 /* Universal Syles------------------------------------------------------------------------------------------------------------------------------------------*/

 * {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

html {
    font-size: 15px;
}

@media only screen and (min-resolution: 200dpi) {
    html {
        font-size: 16px;
    }
}

 body {
    color: #222;
    background-color: white;
    font-family: Antic, sans-serif;
    letter-spacing: 0.06em;
    word-spacing: -0.1em;
    line-height: 1.7;
}

/*Headings------------------------------------------------------------------------------------------------------------*/

h1, h2, h3, .h1, .h2, .h3 {
    padding-bottom: 1rem;
}

h4, h5, h6, .h4, .h5, .h6 {
    padding-bottom: 0.5rem;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    font-weight: normal;
}

h1, h2, h3, .h1, .h2, .h3 {
    font-family:"Nothing You Could Do", cursive;
    color: #ef5406;
}

h4, h5, h6, .h4, .h5, .h6 {
    font-family: "Rozha One", serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: black;
}

h1, .h1, #subtitle, .subtitle {
    font-size: 55px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    word-spacing: -0.4em;
    letter-spacing: 0.2em;
} /*used in logo only*/

    @media only screen and (max-width: 480px) {
        h1, .h1, #subtitle, .subtitle {
            font-size: 50px;
        }
    }

h2, .h2 {
    font-size: 3rem;
    line-height: 1.7;
    letter-spacing: 0.08em;
}

h3, .h3 {
    font-size: 2rem;
    letter-spacing: 0.08em;
    line-height: 1;
}

h4, .h4 {
    font-size: 3rem;
    line-height: 0.9;
    text-align: center;
}

h5, h6, .h5, .h6 {
    font-weight: bold;
    line-height: 1.2;
}

h5, .h5 {
    font-size: 2rem;
}

h6, .h6 {
    font-size: 2rem;
}


/*Links------------------------------------------------------------------------------------------------------------------------------------------------------*/

a {
  color: #ef5406;
  text-decoration: none;
}

a:hover, a:active {
  color: #fff; /* this is dark teal #02444e but should be white if on black*/
}

a:visited {
  color: #80ceda;
}


/*Nav-OXY-Pro-----------------------------------------------------------------------------------------------------------------------------------------------*/
#-pro-menu-1-79.oxy-pro-menu {
  background-color: #040200;
} 


.oxy-pro-menu-off-canvas-container {
  align-items: start;
  justify-content: start;
  padding-top: 80px;
  }
    
.oxy-pro-menu-container > div:first-child {
  margin-top:60px;
  }

#-pro-menu-1-79 .oxy-pro-menu-mobile-close-icon {
  position: fixed;
  top: 60px;
  left: 10px;
}
    
#-pro-menu-1-79 .oxy-pro-menu-mobile-open-icon {
   position: fixed;
   top: 60px;
   left:10px;
  }

#-pro-menu-1-79 ul li a, #-pro-menu-1-79 ul.sub-menu li a {
  color: #ef5406;
}

#-pro-menu-1-79 ul li a:visited, #-pro-menu-1-79 ul.sub-menu li a:visited {
  color: #80ceda;
}


@media only screen and (max-width: 767px) {
#-pro-menu-1-79.oxy-pro-menu {
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  padding-left:10px;
  margin-top: 0px;
  }
div#div_block-3-98.ct-div-block {
    display: none;
}
.oxy-pro-menu-container {
    display: none;
}
  #-pro-menu-1-79 .oxy-pro-menu-list .menu-item a {
    padding-right:5px;
}
}

/*Logo-------------------------------------------------------------------------------------------------------------------------------------------------------*/

div#tamsam-logo {
    padding: 50px 0 50px 0;
    width: 100%;
    background-color: white;
    margin-top: 110px;
}

@media only screen and (max-width:767px) {
div#tamsam-logo {
    margin-top: 60px;
}
}

div#tamsam-logo-1200-width {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0 40px 0;
    margin-top: 110px;
}

@media only screen and (max-width:767px) {
div#tamsam-logo-1200-width {
    margin-top: 60px;
}
}

div#tamsam-logo-1000-width {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0 40px 0;
    margin-top: 110px;
}

@media only screen and (max-width:767px) {
div#tamsam-logo-1000-width {
    margin-top: 60px;
}
}

/*PUPPIES GALLERY PAGE--------------------------------------------------------------*/

#_gallery-51-79.oxy-gallery-captions .oxy-gallery-item figure.oxy-gallery-item-contents figcaption:not(:empty) {
  font-family: "Nothing You Could Do";
  font-size: 20px;
  top: 0px;
  left: 0px;
  text-align: left;
}

/*CONTACT PAGE-----------------------------------------------------------------------*/


.tamsam-contact-form-container {
    background-color: #f8f8f8;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 40px 0px 40px ;
    border: 1px solid #bbb;
    border-bottom: none;
    box-shadow: 1px 1px 3px #bbb;
}
  
.tamsam-contact-form-container h1{
    font-family: "Nothing You Could Do", cursive;
    font-size:  48px;
    text-transform: capitalize;
    color: #ef5406;
}

.tamsam-contact-form-container h6{
    font-family: "Rozha One", sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
  
}

div.tamsam-contact-form, #wpforms-142 div.wpforms-container div.wpforms-container-full div.tamsam-contact-form {
    background-color: #f8f8f8;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px 80px 40px ;
    border: 1px solid #bbb;
    box-shadow: 1px 1px 3px #bbb;
    margin-bottom: 80px;
}

@media only screen and (max-width: 767px) {
    div#wpforms-142 div.wpforms-container div.wpforms-container-full div.tamsam-contact-form, div.tamsam-contact-form {
        padding: 20px;
        width: 100vw;
    }
}

.tamsam-contact-form-label, label.wpforms-field-label {
    font-family: "Rozha One", serif;
    text-transform: uppercase !important;
    font-size: 24px;
    font-weight: 400;
    color: black;
    letter-spacing: 0.2em;
    padding-top: 40px;
    padding-right: 20px;
}

#wpforms-142-field_6-container label.wpforms-field-label,#wpforms-142-field_2-container label.wpforms-field-label, #wpforms-142-field_1-container label.wpforms-field-label,#wpforms-142-field_0-container label.wpforms-field-label {      
    font-family: "Rozha One", serif;
    text-transform: uppercase !important;
    font-size: 24px;
    font-weight: 400;
    color: black;
    letter-spacing: 0.2em;
    padding-right: 20px;
    padding-top: 40px;
}


button#wpforms-submit-142.wpforms-submit.tamsam-contact-form-submit-button {
    font-family: Antic, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    background-color:rgba(4, 122, 140, 0.7);
    color: #fff;
    padding: 10px 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 40px;
}


#wpforms-142-field_6 .wpforms-field-large .wpforms-valid {
  font-family: Antic, sans-serif;
  font-size: 15px;
}


.tamsam-contact-confirmation-message, div#wpforms-confirmation-142.wpforms-confirmation-container-full.wpforms-confirmation-scroll {
  color: black;
  background-color: #f8f8f8;
  border: 1px solid #bbb;
  padding: 10px;
}


/*POST PAGES----------------------------------------------------------------------------------------------------------------------------------------------*/

/*SINGLE DOG PAGES---------------------------------------------------------------------------------------------------------------------------------------*/

#single-dog-page, .single-dog-page {
    background-color: #040200;
    padding: 50px 30px ;
    margin-top: 60px;
}

@media only screen and (max-width: 1199px) {
    #single-dog-page, .single-dog-page {
        padding-left: 20px; 
        padding-right: 20px;
    }
}

@media only screen and (max-width: 991px) {
    #single-dog-page, .single-dog-page {
        padding-left: 15px; 
        padding-right: 15px;
        padding-bottom: 2px;
    
    }
}

@media only screen and (max-width: 767px) {
    #single-dog-page , .single-dog-page {
        margin-top: 0;
    }
}


@media only screen and (max-width: 479px) {
    #single-dog-page , .single-dog-page {
        padding-left: 3px; 
        padding-right: 3px;
    }
  #single-dog-page span, #single-dog-page p, .single-dog-page span, .single-dog-page p {
    font-size: 14px;
}
}


#single-dog-container, .single-dog-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.single-dog-photo-section, .single-dog-info-section, .single-dog-pedigree-section, .single-dog-full-pedigree-section,.single-dog-extra-photos {
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 50px;  
}

.single-dog-photo-section {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.single-dog-section-header  {
    background-color: #040200;
    height: 40px;
    display: flex;
    align-items: center;
}

.single-dog-section-header h6 {
    color: white;
    font-weight: normal;
    padding-left: 20px;
}

div.single-dog-photo-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

img.single-dog-photo-image {
    box-sizing: border-box;
    width: 1200px;
    max-width: 100%;
    height: auto;
}

div.single-dog-photo-text-container {
    padding: 15px 0 25px 0;
}

div.single-dog-photo-names h2 {
    padding-top: 15px;
    padding-bottom: 15px;
}


.single-dog-photo-section a:hover,  .single-dog-info-section a:hover,  .single-dog-pedigree-section a:hover  {
    color: #047a8c;
} 

/*end photo section start main info section DOGS*/

.single-dog-small-all-image-container {
    box-sizing: border-box;
    padding: 50px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.single-dog-small-all-image-container .image-flex-container-centered {
    box-sizing: border-box;
    width: 33%;
    padding: 0px 10px 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-dog-small-all-image-container .image-flex-container-centered img {
    width: 100%;
    height: auto;
}

.single-dog-info-section-contents-no-small-photos {
    margin-top: 25px;
}

.single-dog-info-content {
    padding: 0 20px 25px 20px;
}

.single-dog-info-row {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 50px 1fr 3fr;
}

span.single-dog-info-icon-container {
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    background-color: #eee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 8px;
}

#single-dog-page span.single-dog-info-icon, .single-dog-page span.single-dog-info-icon {
    font-size: 18px;
    line-height: 40px;
    color: #000;
}

span.single-dog-info-label {
    color: #444;
    line-height: 40px;
}

span.single-dog-info-value {
    color:#444;
    line-height: 40px;
}

@media only screen and (max-width: 767px) {
  
    .single-dog-small-all-image-container .image-flex-container-centered {
        width: 100%;
  }
       .single-dog-info-row {
        grid-template-columns: 40px 1fr 2fr;
    }
}

@media only screen and (max-width: 479px) {
  
   .single-dog-info-row {
     font-size: 13px;
    }
  
  .single-dog-small-all-image-container {
    padding: 5px 0 0 0;
  }
  
  .single-dog-small-all-image-container .image-flex-container-centered {
    padding: 0;
  }
  
  .single-dog-info-content {
    padding: 20px 10px 55px 10px;
    background-color: #040200;
    border-radius: 5px;
}
   span.single-dog-info-label, span.single-dog-info-value {
     color: white;
}
}

/*Pedigree section*/
.single-dog-pedigree-contents {
    margin-top: 20px;
    margin-bottom: 25px;
    padding-left: 20px;
}

@media only screen and (max-width: 479px) {
  .single-dog-pedigree-contents {
    padding: 20px 10px 25px 10px;
    background-color: #040200;
    margin-block-start:1px;
    margin-block-end: 0;
  }
}
  
/*Full Pedigree section*/
.single-dog-pedigree {
    background-color: #040200;
    border-top: 1px solid #f8f8f8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-template-areas: "s gs-p ggs-pp"
    "s gs-p ggd-pp"
    "s gd-p ggs-pm"
    "s gd-p ggd-pm"
    "d gs-m ggs-mp"
    "d gs-m ggd-mp"
    "d gd-m ggs-mm"
    "d gd-m ggd-mm";
}

@media only screen and (max-width: 767px) {
    .single-dog-pedigree {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "s gs-p"
        "s gd-p"
        "d gs-m"
        "d gd-m";
    }
}

.pedigree-entry-container {
    padding: 20px;
    border: 1px solid #222;
    color: white;
}

.single-dog-sire {
    grid-area: s;
}

.single-dog-p-grandsire {
    grid-area: gs-p;
}

.single-dog-p-granddam {
    grid-area: gd-p;
}

.single-dog-pp-great-grandsire {
    grid-area: ggs-pp;
}

.single-dog-pp-great-granddam {
    grid-area: ggd-pp;
}

.single-dog-pm-great-grandsire {
    grid-area: ggs-pm;
}

.single-dog-pm-great-granddam {
    grid-area: ggd-pm;
}

.single-dog-dam {
    grid-area: d;
}

.single-dog-m-grandsire {
    grid-area: gs-m;
}

.single-dog-m-granddam {
    grid-area: gd-m;
}

.single-dog-mp-great-grandsire {
    grid-area: ggs-mp;
}

.single-dog-mp-great-granddam {
    grid-area: ggd-mp;
}

.single-dog-mm-great-grandsire {
    grid-area: ggs-mm;
}

.single-dog-mm-great-granddam {
    grid-area: ggd-mm;
}

@media only screen and (max-width: 767px) {
.single-dog-pp-great-grandsire {
    display: none;
}
.single-dog-pp-great-granddam {
    display: none;
}
.single-dog-pm-great-grandsire {
    display: none;
}
.single-dog-pm-great-granddam {
    display: none;
}
.single-dog-mp-great-grandsire {
    display: none;
}
.single-dog-mp-great-granddam {
    display: none;
}
.single-dog-mm-great-grandsire {
    display: none;
}
.single-dog-mm-great-granddam {
    display: none;
}
}

/*VIP and PET and VINTAGE and CHAMPION and BIS and BREEDING and SHOWING and FUTURE DOGS PAGE------------------------------------------------------------------------*/
#vip-page, #champion-page, #vintage-page, #bis-page, #breeding-page, #showing-page, #future-page, #pet-page, #past-champion-page, #category-page {
    background-color: #040200;
    padding: 80px 40px 80px 40px;
}

#vip-container,  #pet-container, #champion-container, #vintage-container, #bis-container, #showing-container, #breeding-container, #future-container, #past-champion-container, #category-container {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

#vip-page .single-dog-page, #pet-page .single-dog-page,  #champion-page .single-dog-page, #breeding-page .single-dog-page, #category-page .single-dog-page, 
#vintage-page .single-dog-page, #bis-page .single-dog-page,  #showing-page .single-dog-page, #future-page .single-dog-page, #past-champion-page .single-dog-page {
    padding: 0;
    background-color: white;
    border: 2px solid #f8f8f8;
    border-radius: 5px;
    width: 100%;
}

#vip-page .single-dog-container, #pet-page .single-dog-container, #champion-page .single-dog-container, #breeding-page .single-dog-container, #category-page .single-dog-container,
#vintage-page .single-dog-container, #bis-page .single-dog-container,  #showing-page .single-dog-container, #future-page .single-dog-container, #past-champion-page .single-dog-container {
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

#vip-page .single-dog-photo-section,  #pet-page .single-dog-photo-section, #champion-page .single-dog-photo-section, #breeding-page .single-dog-photo-section, #category-page .single-dog-photo-section,
#vintage-page .single-dog-photo-section, #bis-page .single-dog-photo-section,  #showing-page .single-dog-photo-section, #future-page .single-dog-photo-section, #past-champion-page .single-dog-photo-section {
    margin-bottom: 0;

}
#vip-page .single-dog-info-section, #pet-page .single-dog-info-section, #champion-page .single-dog-info-section, #breeding-page .single-dog-info-section, 
#vintage-page .single-dog-info-section, #bis-page .single-dog-info-section,  #showing-page .single-dog-info-section, #future-page .single-dog-info-section, #past-champion-page .single-dog-info-section {
    margin-bottom: 0;
}

#vip-page .single-dog-info-section-contents-no-small-photos, #pet-page .single-dog-info-section-contents-no-small-photos, #champion-page .single-dog-info-section-contents-no-small-photos, #breeding-page .single-dog-info-section-contents-no-small-photos,
    #vintage-page .single-dog-info-section-contents-no-small-photos, #bis-page .single-dog-info-section-contents-no-small-photos,  #showing-page .single-dog-info-section-contents-no-small-photos, #future-page .single-dog-info-section-contents-no-small-photos, #past-champion-page .single-dog-info-section-contents-no-small-photos {
   margin-top: 0;
}

#vip-page .single-dog-pedigree-section, #pet-page .single-dog-pedigree-section, #champion-page .single-dog-pedigree-section, #future-page .single-dog-pedigree-section,
#vintage-page .single-dog-pedigree-section, #bis-page .single-dog-pedigree-section, #breeding-page .single-dog-pedigree-section, #showing-page .single-dog-pedigree-section, #past-champion-page .single-dog-pedigree-section
{
    margin-bottom: 10px;
}

#vip-page .single-dog-container .single-dog-info-content, #pet-page .single-dog-container .single-dog-info-content, #champion-page .single-dog-container .single-dog-info-content , #future-page .single-dog-container .single-dog-info-content,
#vintage-page .single-dog-container .single-dog-info-content, #bis-page .single-dog-container .single-dog-info-content, #breeding-page .single-dog-container .single-dog-info-content, #showing-page .single-dog-container .single-dog-info-content, #past-champion-page .single-dog-container .single-dog-info-content {
    padding-bottom: 25px;
}

  #vip-page img,   #pet-page img, #champion-page img, #future-page img, #category-page img,
  #vintage-page img,   #bis-page img, #showing-page img, #breeding-page img, #past-champion-page img {
      border-radius: 3px;
      box-shadow: 3px 3px 5px #bbb;
      max-width: 100%;
      height: auto;
  }

  #vip-page .single-dog-photo-image-container,   #pet-page .single-dog-photo-image-container, #champion-page  .single-dog-photo-image-container, #future-page  .single-dog-photo-image-container, #category-page .single-dog-photo-image-container,
  #vintage-page .single-dog-photo-image-container,   #bis-page .single-dog-photo-image-container, #breeding-page  .single-dog-photo-image-container , #showing-page  .single-dog-photo-image-container, #past-champion-page  .single-dog-photo-image-container  {
      padding-bottom: 15px;
  }

   #vip-page .single-dog-photo-names h3 a:visited,  #pet-page .single-dog-photo-names h3 a:visited,  #champion-page .single-dog-photo-names h3 a:visited, #breeding-page .single-dog-photo-names h3 a:visited, #category-page .single-dog-photo-names h2 a:visited,
   #vintage-page .single-dog-photo-names h3 a:visited,  #bis-page .single-dog-photo-names h3 a:visited,  #showing-page .single-dog-photo-names h3 a:visited, #future-page .single-dog-photo-names h3 a:visited , #past-champion-page .single-dog-photo-names h3 a:visited {
      color: #ef5406;
  }

  #vip-page .single-dog-photo-names h3 a:hover, #pet-page .single-dog-photo-names h3 a:hover, #champion-page .single-dog-photo-names h3 a:hover, #future-page .single-dog-photo-names h3 a:hover, #category-page .single-dog-photo-names h2 a:hover,
  #vintage-page .single-dog-photo-names h3 a:hover, #bis-page .single-dog-photo-names h3 a:hover, #showing-page .single-dog-photo-names h3 a:hover, #breeding-page .single-dog-photo-names h3 a:hover, #champion-page .single-dog-photo-names h3 a:hover  {
    color: #047a8c;
}

#category-page h2 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 0;
}

#category-page h2 a, #category-page h2 a:visited {
   color: black;
}

.single-dog-extra-photos {
    background-color: #040200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-dog-extra-photos-multiple, .single-dog-extra-photos-multiple-768px  {
    background-color: #040200;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 80px 100px 0px 100px;
}

.single-dog-extra-photos-multiple img {
    width: 1000px;
    max-width: 100%;
    height: auto;
    padding-bottom: 80px;
}

.single-dog-extra-photos-multiple-768px img {
    width: 800px;
    max-width: 100%;
    height: auto;
    padding-bottom: 80px;
}


@media only screen and (max-width: 1750px) {
    #vip-container, #pet-container, #champion-container, #vintage-container, #bis-container, #breeding-container, #showing-container, #future-container, #past-champion-container, #category-container {
    grid-template-columns: 1fr 1fr;
}
}

@media only screen and (max-width: 991px) {
    #vip-container, #pet-container , #champion-container, #vintage-container, #bis-container, #breeding-container, #showing-container, #future-container, #past-champion-container, #category-container {
    grid-template-columns: 1fr;
    gap: 20px;
}
}

@media only screen and (max-width:767px) {
    #vip-page, #pet-page, #champion-page, #vintage-page, #bis-page, #breeding-page, #showing-page, #future-page, #past-champion-page, #category-page {
        padding: 40px 10px 40px 10px;
    }
    .single-dog-extra-photos-multiple, .single-dog-extra-photos, .single-dog-extra-photos-multiple-768px {
        display: none;
    }
}

@media only screen and (max-width:479px) {
    #vip-page, #pet-page, #champion-page, #vintage-page, #bis-page, #breeding-page, #showing-page, #future-page, #past-champion-page, #category-page  {
        padding: 40px 10px 40px 10px;
    }
  #vip-page .single-dog-info-section,   #pet-page .single-dog-info-section, #champion-page .single-dog-info-section, #vintage-page  .single-dog-info-section, #bis-page  .single-dog-info-section, #breeding-page  .single-dog-info-section, #showing-page  .single-dog-info-section, #future-page  .single-dog-info-section, #past-champion-page  .single-dog-info-section {
    padding-bottom: 25px;
    margin-bottom: 15px;
}
}  


/*INDIVIDUAL DOG SINGLE PAGE EDITS*/

img.wp-image-1076 {
    width: 1000px;
    max-width: 100%;
    height: auto;
} /*Coco*/
.single-dog-small-all-image-container img.wp-image-38 {
    padding-right: 50px;
    width: 420px;
    height: auto;
} /*Coco*/

.single-dog-extra-photos img.wp-image-493 {
    width: 1000px;
    max-width: 100%;
    height: auto;
    padding-top:80px;
    padding-bottom: 80px;
} /*Flame in blue coat*/
img.wp-image-492 {
    width: 440px;
    height: auto;
    max-width: 100%;
  } /*Flame*/

.single-dog-extra-photos img.wp-image-117 {
    width: 768px;
    max-width: 100%;
    height: auto;
    padding-top:80px;
    padding-bottom: 80px;
} /*Frosty with leaf in mouth*/
img.wp-image-103 {
width: 768px; 
  height: auto;
  max-width: 100%;
} /*Frosty with pups*/
#vintage-page img.wp-image-103 {
    width: 300px; 
    } /*Frosty with pups*/
 
img.wp-image-854 {
    width: 720px; 
    height: auto;
    max-width: 100%;
  } /*Shiraz*/
  #category-page img.wp-image-854 {
    width: 400px; 
    height: auto;
    max-width: 100%;
  } /*Shiraz*/
 
  img.wp-image-495 {
      width: 369px;
         height: auto;
    max-width: 100%;
  } /*Jade*/
  
  img.wp-image-501 {
      width: 338px;
     height: auto;
    max-width: 100%;
  } /*Jazz*/

  img.wp-image-533 {
    width: 334px;
     height: auto;
    max-width: 100%;
} /*Piper*/

img.wp-image-192 {
    width: 370px;
   height: auto;
    max-width: 100%;
} /*Codie*/

img.wp-image-497 {
    width: 300px;
   height: auto;
    max-width: 100%;
} /*Cosmo*/

img.wp-image-771 {
    width: 370px;
   height: auto;
    max-width: 100%;
} /*Tussock*/

img.wp-image-784 {
  width: 640px; 
  height: auto;
  max-width: 100%;
} /*Cruz*/
  #bis-page  img.wp-image-784, #vip-page img.wp-image-784 {
    width: 470px; 
    height: auto;
    max-width: 100%;
} /*Cruz*/  

img.wp-image-488 {
    width: 768px; 
  height: auto;
  max-width: 100%;
} /*memphis*/

img.wp-image-796 {
    width: 1000px; 
    height: auto;
    max-width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
  } /*Havoc and Piper*/
  img.wp-image-798 {
    width: 243px; 
    height: auto;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  } /*Havoc*/
  img.wp-image-799 {
    width: 321px; 
    height: auto;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  } /*Havoc*/
  #vintage-page img.wp-image-799,  #bis-page img.wp-image-799 {
      padding: 0;
  }/*Havoc*/

  img.wp-image-809 {
    width: 400px; 
  height: auto;
  max-width: 100%;
} /*Texas*/
img.wp-image-808 {
    width: 250px; 
  height: auto;
  max-width: 100%;
} /*Texas*/
img.wp-image-807, img.wp-image-855{
    width: 640px; 
  height: auto;
  max-width: 100%;
} /*Texas and Shylo*/

img.wp-image-892 {
 width: 900px; 
  height: auto;
  max-width: 100%;
  padding-bottom: 10px;
} /*Misty*/
#champion-page img.wp-image-892, #bis-page img.wp-image-892  {
    padding-bottom: 0;
}

img.wp-image-897, img.wp-image-896 {
 width: 768px; 
  height: auto;
  max-width: 100%;
} /*Demi*/
.single-dog-extra-photos-multiple img.wp-image-896, .single-dog-extra-photos-multiple img.wp-image-1031, .single-dog-extra-photos-multiple img.wp-image-1052 {
width: 768px;    
padding-top: 80px;
padding-bottom: 80px;
   } /*Demi*/


figcaption.demi-caption {
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
}

img.wp-image-886, img.wp-image-119 {
    width: 768px; 
    height: auto;
    max-width: 100%;
       } /*Luca*/
img.wp-image-883, img.wp-image-885, img.wp-image-119 {
        width: 640px; 
        height: auto;
        max-width: 100%;
           } /*Luca*/
                  
img.wp-image-932 {
    width: 456px; 
    height: auto;
    max-width: 100%;
} /*Benji*/    

img.wp-image-923 {
    width: 518px; 
    height: auto;
    max-width: 100%;
} /*Mint*/    
img.wp-image-922 {
    width: 600px; 
    height: auto;
    max-width: 100%;
} /*Mint*/    
img.wp-image-925, img.wp-image-926 {
    width: 600px; 
    height: auto;
    max-width: 100%;
} /*Mint*/  

img.wp-image-949 {
    width: 889px; 
    height: auto;
    max-width: 100%;
} /*Tyler*/    

img.wp-image-967, img.wp-image-38 {
    width: 420px; 
    height: auto;
    max-width: 100%;
} /*Dash and Coco*/    

img.wp-image-72 {
    width: 600px; 
    height: auto;
    max-width: 100%;
} /*Ace/Kona*/  
#champion-page img.wp-image-72 {
    width: 300px; 
    height: auto;
    max-width: 100%;
} /*Ace/Kona*/  

img.wp-image-997 {
    width: 450px;
    height: auto;
    max-width: 100%
}

.single-dog-extra-photos .wp-image-1036 {
    width: 768px;
    height: auto;
    max-width: 100%
} /*Jaffa*/

.single-dog-extra-photos .wp-image-1040 {
    width: 768px;
    height: auto;
    max-width: 100%
} /*Misty*/

.single-dog-extra-photos-multiple img.wp-image-1038, .single-dog-extra-photos-multiple img.wp-image-1039, .single-dog-extra-photos-multiple img.wp-image-1041 {
    width: 768px;    
    padding-top: 80px;
    padding-bottom: 80px;
       } /*Kona*/

  .wp-image-191 {
    width: 470px; 
    height: auto;
    max-width: 100%;
  } /*Boris*/     