/* universal styles*/

*,
figure.wp-block-image {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

html {
    font-size: 15px;
    background-color: white;
}

@media only screen and (min-resolution: 200dpi) {
    html {
        font-size: 16px;
    }
}

body {
    color: #000;
    font-family: Antic, sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.06em;
    word-spacing: -0.1em;
    line-height: 1.7;
}

/*headings*/

h1,
h2,
h3,
.h1,
.h2,
.h3 {
    font-family: "Nothing You Could Do", cursive;
    color: #ef5406;
    font-weight: normal;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
    font-family: "Rozha One", serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: black;
}

h1,
.h1 {
    font-size: 55px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    word-spacing: -0.4em;
    letter-spacing: 0.2em;
}

/*used in logo only*/

@media only screen and (max-width: 480px) {
    h1,
    .h1 {
        font-size: 50px;
    }
}

h2,
.h2 {
    font-size: 48px;
    line-height: 170%;
    letter-spacing: 0.08em;
}

h3,
.h3 {
    font-size: 32px;
    letter-spacing: 0.08em;
    line-height: 100%;
}

h4,
.h4 {
    font-size: 48px;
    line-height: 90%;
    text-align: center;
    font-weight: normal;
}

h5,
h6,
.h5,
.h6 {
    font-weight: bold;
    line-height: 120%;
}

h5,
.h5 {
    font-size: 32px;
}

h6,
.h6 {
    font-size: 24px;
}

/*links*/

a {
    color: #ef5406;
    text-decoration: none;
}

a:hover,
a:active {
    color: #fff;
    /* this is dark teal #02444e but should be white if on black*/
}

a:visited {
    color: #80ceda;
}

/*Nav-OXY-Pro*/
#-pro-menu-1-79.oxy-pro-menu {
    background-color: #040200;
}

.oxy-pro-menu-off-canvas-container {
    align-items: start;
    justify-content: start;
    padding-top: 80px;
}

.oxy-pro-menu-container>div:first-child {
    margin-top: 60px;
}

#-pro-menu-1-79 .oxy-pro-menu-mobile-close-icon {
    position: fixed;
    top: 60px;
    left: 10px;
}

#-pro-menu-1-79 .oxy-pro-menu-mobile-open-icon {
    position: fixed;
    top: 60px;
    left: 10px;
}

#-pro-menu-1-79 ul li a,
#-pro-menu-1-79 ul.sub-menu li a {
    color: #ef5406;
}

#-pro-menu-1-79 ul li a:visited,
#-pro-menu-1-79 ul.sub-menu li a:visited {
    color: #80ceda;
}


@media only screen and (max-width: 767px) {
    #-pro-menu-1-79.oxy-pro-menu {
        background-color: transparent;
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
        margin-top: 0px;
    }

    div#div_block-3-98.ct-div-block {
        display: none;
    }

    .oxy-pro-menu-container {
        display: none;
    }

    #-pro-menu-1-79 .oxy-pro-menu-list .menu-item a {
        padding-right: 5px;
    }
}

/*Logo*/

div#tamsam-logo {
    padding: 80px 0 50px 0;
    width: 100%;
    background-color: white;
    margin-top: 110px;
}

@media only screen and (max-width:767px) {
    div#tamsam-logo {
        margin-top: 60px;
    }
}

div#tamsam-logo-1200-width {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0 40px 0;
    margin-top: 110px;
}

@media only screen and (max-width:767px) {
    div#tamsam-logo-1200-width {
        margin-top: 60px;
    }
}

div#tamsam-logo-1000-width {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0 40px 0;
    margin-top: 110px;
}

@media only screen and (max-width:767px) {
    div#tamsam-logo-1000-width {
        margin-top: 60px;
    }
}

/*Hero Image*/

div#tamsam-hero-image-block {
    padding: 0 0 80px 0;
    background-color: #040200;
    text-align: center;
}

div#tamsam-hero-image-block>p {
    text-transform: uppercase;
    letter-spacing: 0.06em;
    line-height: 400%;
    color: white;
    font-size: 12px;
}

div#tamsam-hero-image-block img {
    max-width: 1200px;
    height: auto;
    margin: 0 auto 40px auto;
    border: 1px solid #bbb;
}

@media only screen and (max-width: 1199px) {
    #tamsam-hero-image-block img {
        width: 100vw;
    }
}

/*grid nav info*/

#tamsam-nav-info-block {
    background-color: #f8f8f8;
    padding: 80px 0;
}

@media only screen and (max-width:767px) {
    #tamsam-nav-info-block {
        padding: 20px;
    }
}

@media only screen and (min-width:768px) and (max-width: 991px) {
    #tamsam-nav-info-block ul {
        padding-inline-start: 20px;
    }
}

#tamsam-nav-info img {
    max-width: 100%;
    height: auto;
}

#tamsam-nav-info ul {
    padding-bottom: 20px;
}

#tamsam-nav-info h4 {
    font-family: "Nothing You Could Do", cursive;
    font-size: 24px;
    color: #047a8c;
    text-align: left;
    line-height: 120%;
    letter-spacing: 0.08em;
    text-transform: none;
}

#tamsam-nav-info {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 1px 1px 5px #bbb;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px 40px;
    grid-template-areas: "p1 b1 o1"
        "p2 b2 o2"
        "p3 b3 o3";
}

.tamsam-nav-info-puppy.tamsam-grid-p1 {
    grid-area: p1;
}

.tamsam-nav-info-puppy.tamsam-grid-p2 {
    grid-area: p2;
}

.tamsam-nav-info-puppy.tamsam-grid-p3 {
    grid-area: p3;
}

.tamsam-nav-info-breeder.tamsam-grid-b1 {
    grid-area: b1;
}

.tamsam-nav-info-breeder.tamsam-grid-b2 {
    grid-area: b2;
}

.tamsam-nav-info-breeder.tamsam-grid-b3 {
    grid-area: b3;
}

.tamsam-nav-info-other.tamsam-grid-o1 {
    grid-area: o1;
}

.tamsam-nav-info-other.tamsam-grid-o2 {
    grid-area: o2;
}

.tamsam-nav-info-other.tamsam-grid-o3 {
    grid-area: o3;
}

@media only screen and (max-width: 767px) {
    #tamsam-nav-info {
        grid-template-columns: 100%;
        grid-template-areas: "p1"
            "p2"
            "p3"
            "b1"
            "b2"
            "b3"
            "o1"
            "o2"
            "o3";
    }
}

/*Tamsam Logo on Teal/Dash*/

#teal-dash-footer {
    max-height: 700px;
}

@media only screen and (max-width: 1199px) {
    #teal-dash-footer {
        max-height: 1300px;
    }
}


#tamsam-logo-on-teal {
    background-color: rgba(4, 122, 140, 0.9);
    padding: 120px 0;
}

#tamsam-logo-on-teal h4 {
    color: white;
}

#tamsam-logo-on-teal h1 {
    color: #040200;
}

#tamsam-dark-empty-block {
    background-color: #040200;
    padding: 200px 0;
}

#dash-and-coco-grid img {
    max-width: 100%;
    height: auto;
    box-shadow: 2px 2px 3px #bbb;
    z-index: 2;
}

#dash-and-coco-grid {
    box-sizing: border-box;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px 20px;
    justify-items: start;
    justify-content: space-around;
    align-items: end;
    grid-template-areas: "dash-1 dash-2 coco-1 coco-2"
        "dash-text dash-text coco-text coco-text";
    padding-left: 10%;
    position: relative;
    bottom: 620px;
    z-index: 5;
}

@media only screen and (max-width: 1199px) {
    #dash-and-coco-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "dash-1 dash-2"
            "dash-text dash-text"
            "coco-1 coco-2"
            "coco-text coco-text";
        justify-content: center;
        justify-items: center;
        padding-bottom: 100px;
        bottom: 450px;
    }
}

@media only screen and (max-width: 767px) {
    #dash-and-coco-grid {
        grid-template-columns: 1fr;
        grid-template-areas: "dash-text"
            "dash-1"
            "dash-2"
            "coco-text"
            "coco-1"
            "coco-2";
        bottom: 350px;
    }
}

.dash-photo-1 {
    grid-area: dash-1;
}

.dash-photo-2 {
    grid-area: dash-2;
}

.dash-text {
    grid-area: dash-text;
    justify-self: center;
    align-self: center;
}

.coco-photo-1 {
    grid-area: coco-1;
}

.coco-photo-2 {
    grid-area: coco-2;
}

.coco-text {
    grid-area: coco-text;
    justify-self: center;
    align-self: center;
}

.dash-text h4,
.coco-text h4 {
    font-family: "Nothing You Could Do", cursive;
    font-size: 24px;
    color: #047a8c;
    letter-spacing: 0.08em;
    text-transform: none;
}

@media only screen and (max-width: 1999px) {
    #dash-and-coco-grid {
        padding-left: 8%;
    }
}

@media only screen and (max-width: 1899px) {
    #dash-and-coco-grid {
        padding-left: 6%;
    }
}

@media only screen and (max-width: 1799px) {
    #dash-and-coco-grid {
        padding-left: 4%;
    }
}

@media only screen and (max-width: 1699px) {
    #dash-and-coco-grid {
        padding-left: 0;
    }
}

#tamsam-dark-empty-block-2 {
    background-color: #040200;
    height: 620px;
    position: relative;
    bottom: 1080px;
    z-index: 0;
}

@media only screen and (min-width: 1200px) {
    #tamsam-dark-empty-block-2 {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    #tamsam-dark-empty-block-2 {
        height: 1450px;
        bottom: 1800px;
    }
}

#tamsam-footer-copyright-only {
    text-align: center;
    font-size: 13px;
    padding: 20px 0;
    position: relative;
    top: 40px;
}

#tamsam-footer-copyright-only p {
    text-align: center;
    font-size: 13px;
    padding: 20px 0 10px 0;
}

@media only screen and (max-width: 1199px) {
    #tamsam-footer-copyright-only {
        top: 0px;
    }
}

@media only screen and (max-width: 767px) {
    #tamsam-footer-copyright-only {
        top: 770px;
    }
}

@media only screen and (max-width: 499px) {
    #tamsam-footer-copyright-only {
        top: 850px;
    }
}

/*footer*/

#tamsam-footer-logo-on-dark {
    background-color: #040200;
    padding: 80px 0;
    border-top: 1px solid #bbb;
}

#tamsam-footer-logo-on-dark>h4 {
    color: white;
}

footer#tamsam-footer p {
    text-align: center;
    font-size: 13px;
}

/*shortcuts*/
.white {
    color: #fff;
}

.bg-white {
    background-color: #fff;
}


.small-quote {
    line-height: 2;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.small {
    font-size: 0.8rem;
}

.remove-padding-bottom {
    padding-bottom: 0;
}

.remove-margin-bottom {
    margin-bottom: 0;
}

.margin-top-1 {
    margin-top: 1rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

.indent-2 {
    margin-left: 2rem;
}

.hidden,
.hide {
    display: none;
}
