
body, h1, h2, h3, h4 {
    color: #222;
}

/*body, h1, h2, h3, h4 {
    color: #240975;
}*/

h2, h3 {
    text-align: left;
}

ul {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.font-description ul {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

span.selector {
    font-style: italic;
    font-weight: bold;
}

article:first-of-type {
    margin-top: 3rem;
}

.hide {
    display: none;
}

.blue {
    color:#62a9fd
}

.orange {
    color: #f98562;
}

.pale-orange {
    color:#f9b19b;
    background-color: #240975;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.pale-purple {
    margin-left: 2rem;
    color: #7756db;
    background-color:#fff;
    border: 1px solid #222;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.margin-above {
    margin-top: 0.8rem;
}

#colours {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4rem 2rem;
    justify-content: space-between;
    justify-items: center;
    margin: 3rem 1rem 4rem 1rem;
}

@media only screen and (max-width: 1199px) {
    #colours {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
}

#colours div.colour-sample {
    width: 150px;
    height: 150px;
    border: 1px solid #222;
    border-radius: 50%;
}

#purple-sample {
    background-color: #240975;
}

#pale-purple-sample {
    background-color: #453575;
}

#orange-sample {
    background-color: #f98562;
}

#pale-orange-sample {
    background-color: #f9b19b;
}

#blue-sample {
    background-color: #62a9fd;
}

#pale-blue-sample {
    background-color: #aad0fd;
}

#grey-sample {
    background-color: #e0e4e6;
    position: relative;
}

#pure-grey-sample {
    background-color: rgb(225, 225, 225);
    width: 75px;
    height: 75px;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 50%;
    position: absolute;
    top: 37.5px;
    left: 37.5px;
    z-index: 1;
}

#pure-grey-sample span {
    color:rgb(100, 100, 100);
    background-color: rgb(225, 225, 225);
    position: absolute;
    border-radius: 50%;
    top: 15px;
    left: 18px;

}

#colours p {
    text-align: center;
    margin: 2rem;
}

.font-sample {
    display: grid;
    grid-template-columns: 0.6fr 1.2fr 3.2fr;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 999px) {
    .font-sample {
        grid-template: 1fr 1fr / 1fr 1fr;
        justify-content: start;
        gap: 1rem;
        margin-bottom: 2rem;
    }
    .font-example {
        grid-area: 1 / 1 / span 1 / span 1;
    }
    .font-description {
        grid-area: 1 / 2 / span 1 / span 1;
    }
    .font-description ul {
        display: inline;
    }
    .text, .text-pair {
        grid-area: 2 /1 /span 2 / span 2;
    }
}

.font-example {
    font-weight: bold;
}

 .text {
     display: flex;
     align-items: center;
    background-color: rgb(248, 248, 248);
    margin-left: 4rem;
    padding: 2rem;
    border-radius: 0.5rem;
    height: 150px;
    overflow: scroll;
}

.text-pair h1.text {
    height: auto;
}

@media only screen and (max-width: 1199px) {
    .text, .text-pair {
        margin: 0;
    }
}

#h1-sample {
    color: #fff;
    background-color: #240975;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.14rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 0;
}

#h1-sample2 {
    color: #f98562;
    background-color: #240975;
    text-align: center;
    font-family: FlorenceScript;
    font-size: 2rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#h2-sample {
    color: #f98562;
    text-align: center;
}
    /*border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#h2-sample2 {
    color: #240975;
    text-align: center;
    font-family: FlorenceScript;
    font-size: 2.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}*/

#h3-sample {
    color: #62a9fd;
    text-align: center;
}

#h4-sample {
    color: #f98562;
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.6;
    letter-spacing: 0.3rem;
}

#h5-sample {
    color: #f98562;
    text-align: center;
    font-size: 1.25rem;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.6;
    letter-spacing: 0.3rem;
}

#h6-sample {
    color: #240975;
    font-weight: bold;
    font-style: oblique;
    font-size: 14px;
}

#paragraph-sample {
    color: #240975;
    font-weight: normal;
    font-size: 14px;
}

#quote-sample {
    font-family: FlorenceScript;
    font-size: 2rem;
    color: #62a9fd;
}

.font-description {
    font-size: 0.8rem;
    height: 200px;
    overflow: scroll;
}

#links-and-lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 4rem;
}

@media only screen and (max-width: 767px) {
    #links-and-lists {
        grid-template-columns: 1fr;
        gap: 0;
}

#links-and-lists article {
    background-color: #e0e4e6;
    background-color: rgb(248, 248, 248);
    padding: 2rem;
    border-radius: 0.5rem;
}

#links-and-lists article:first-of-type {
    margin-top: 0;
}
