html {
    font-size: 16px;;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    text-align: left;
    font-family: Raleway, sans-serif;
    text-transform: none;
}

/*headings*/

h2 {
    font-size: 3rem;
    font-style: oblique;
    text-transform: uppercase;
    letter-spacing: 0.14rem;
}

h3 {
font-size: 2rem;
text-transform: uppercase;
letter-spacing: 0.14rem;
}

h4, .h4 {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: oblique;
    text-transform: none;
    padding-bottom: 0.5rem;
    letter-spacing: 0.01rem;
}

h5, .h5 {
    font-size: 1.25rem;
    font-weight: 300;
    padding-bottom: 0.5rem;
    letter-spacing: 0.01rem;
}

h6, .h6 {
    font-size: 1.125rem;
    font-weight: 300;
    padding-bottom: 0.5rem;
    letter-spacing: 0.01rem;
}

p {
    letter-spacing: 0.06rem;
}

/* header navigation*/

header nav li {
    font-size: 0.8rem;
}

ul {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.font-description ul {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

span.selector {
    font-style: italic;
    font-weight: bold;
}

article:first-of-type:not(#links-and-lists article:first-of-type) {
    margin-top: 3rem;
}


#colours {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4rem 2rem;
    justify-content: space-between;
    justify-items: center;
    margin: 3rem 1rem 4rem 1rem;
}

@media only screen and (max-width: 1199px) {
    #colours {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
}

#colours div.colour-sample {
    width: 150px;
    height: 150px;
    border: 1px solid #222;
    border-radius: 50%;
}

#grey-sample {
    position: relative;
}

#pure-grey-sample {
    background-color: rgb(225, 225, 225);
    width: 75px;
    height: 75px;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 50%;
    position: absolute;
    top: 37.5px;
    left: 37.5px;
    z-index: 1;
}

#pure-grey-sample span {
    color: rgb(100, 100, 100);
    background-color: rgb(225, 225, 225);
    position: absolute;
    border-radius: 50%;
    top: 7px;
    left: 18px;
}

#colours p {
    text-align: center;
    margin: 2rem;
}

.font-sample {
    display: grid;
    grid-template-columns: 0.6fr 1.2fr 3.2fr;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 999px) {
    .font-sample {
        grid-template: 1fr 1fr / 1fr 1fr;
        justify-content: start;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .font-example {
        grid-area: 1 / 1 / span 1 / span 1;
    }

    .font-description {
        grid-area: 1 / 2 / span 1 / span 1;
    }

    .font-description ul {
        display: inline;
    }

    .text,
    .text-pair {
        grid-area: 2 /1 /span 2 / span 2;
    }
}

.font-example {
    font-weight: bold;
}

.text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 248);
    margin-left: 4rem;
    padding: 2rem;
    border-radius: 0.5rem;
    height: 150px;
    overflow: scroll;
}

.text-pair h1.text {
    height: auto;
}

@media only screen and (max-width: 1199px) {
    .text,
    .text-pair {
        margin: 0;
    }
}

#h1-sample {
    color: #fff;
    background-color: #240975;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.14rem;
    line-height: 1;
    padding-bottom: 0;
}

#h1-sample2 {
    display: block;
    color: #f98562;
    background-color: #240975;
    text-align: center;
    font-family: FlorenceScript;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0;
    text-transform: none;
}

#h1-font-sample .text, #h2-font-sample .text{
 height: auto;
}

#h1-font-sample .text {
    padding: 1.5rem 1rem 1rem 1rem;
   }

#h2-font-sample .text {
    padding: 1rem;
   }

#h2-sample {
    color: #f98562;
    text-align: center;
    font-style: normal;
}

#h2-sample:hover {
    color:#fff;
    background-color: #240975;
    font-family: FlorenceScript;
}

/*border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#h2-sample2 {
    color: #240975;
    text-align: center;
    font-family: FlorenceScript;
    font-size: 2.5rem;
     font-style: normal;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}*/

#h3-sample {
    color: #f98562;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.14rem;
    transition: all 400ms ease-in-out;
}

#h3-sample:hover {
    color:#fff;
    background-color: #240975;
    font-family: FlorenceScript;
}

#h4-sample {
    color: #f98562;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.14rem;
    transition: all 800ms ease-in-out;
}

#h4-sample:hover {
    color:#fff;
    background-color: #240975;
    font-family: FlorenceScript; 
}

#h5-sample {
    color: #f98562;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.14rem;
}

#p-bold-sample {
    color: #240975;
    font-weight: bold;
    font-style: oblique;
    font-size: 14px;
}

#p-bold-sample:hover {
    color:#fff;
    background-color: #240975;
}

#paragraph-sample {
    color: #240975;
    font-weight: normal;
    font-size: 14px;
}

#paragraph-sample:hover {
    color:#fff;
    background-color: #240975;
}

#quote-sample {
    font-family: FlorenceScript;
    font-size: 2rem;
    color: #62a9fd;
    text-align: center;
}

#quote-sample:hover {
    color:#240975;
    background-color: #aad0fd;
    font-family: FlorenceScript;
}

.font-description {
    font-size: 0.8rem;
    height: 200px;
    overflow: scroll;
}

#links-and-lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 4rem;
}

@media only screen and (max-width: 767px) {
    #links-and-lists {
        grid-template-columns: 1fr;
        gap: 0;
    }
}

#links-and-lists article {
    background-color: rgb(248, 248, 248);
    padding: 2rem;
    border-radius: 0.5rem;
}

#header-article,
#header-nav,
#footer-article {
    background-image:
        url("https://www.karenplimmer.com/wp-content/uploads/2021/01/Colour-gradient-block.jpg");
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
}

#header-article-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
}

#header-article h2 {
    color: white;
}

#header-nav h2 {
    color: white;
}

#header-nav-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
}

@media only screen and (max-width: 1199px) {
    #header-nav-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 767px) {
    #header-nav-content {
        grid-template-columns:1fr;
    }
}

#header-nav .white {
    background-color: #240975;
}

#header-nav .orange {
    background-color: #240975;
}

#mobile-nav {
    background-color: #f98562;
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
}

#mobile-nav h2 {
    color: #fff;
}

#footer-article h2 {
    color: #fff;
}